
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');


*{
    margin: 0;
}

.App{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    width: 100%;
    height: 100vh;
    position: absolute;


//----MENU----//

    .threeLines{
        position: absolute;
        z-index: 3;
        left: 30px;
        align-self: flex-start;
        height: 30px;
        top: 30px;
        cursor: pointer;
    }

    .menu{
        height: 100px;
        position: absolute;
        width: 100%;
        background: #777;
        margin: 0px;
        display: none;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
        }

        li{
            color: white;
            position: relative;
            margin-top: 50px;
            font-family: oswald;
            list-style: none;
        }
    }


//-------FRONT PAGE-------//
    .front_text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: flex-end;
        align-items: center;


        .name{
            position: relative;
            right: 50%;
            font-size: 150px;
            color: #777777;
            font-family: 'Open Sans Condensed', sans-serif;
            text-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
            letter-spacing: 2px;
        }


        .rightSide{
            width: 40%;
            height: 50%;
            background: black;
            position: absolute;
            z-index: 1234;
            align-self: flex-end;
        }

        .rightSideTop{
            width: 40%;
            height: 50%;
            background: red;
            position: absolute;
            z-index: 1234;
            align-self: flex-start;;

        }
    }

//-----RIGHT SIDE------//

}