.nav{

    .transistion{
        width: 100%;
        height: 100vh;
        z-index: 123;
        display: none;

        .top{
            width: 100%;
            height: 50%;
            background: red;
            position: relative;
        }

        .bottom{
            width: 100%;
            height: 50%;
            background: blue;
            position: absolute;  
        }
    }
}